* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}


h1, h2 {
    display: inline-block;
    
}


main {
    background-color: #f6f8f9;
    height: 700px;
}


.container {
    width: 70%;
    /* height: 550px; */
    background-color: #ffffff;
    /* margin-top: 50px; */
    margin: auto;
}


.main-header {
    height: 55px;
}


.add-button, input {
    height: 30px; 
    margin-top: 10px; 
    border-radius: 5px;
}


.add-button {
    width: 90px;
    color: #ffffff;  
    background-color: #47adf1;
    border: none;
}


input {
    width: 120px;
    border: 1px solid #c1c1c1;
    text-align: center;
}


hr {
    background-color: #f6f8f9;
}

.add-button, .list-title, .list-element {
    margin-left: 70px;
}


.list {
    margin-top: 50px;
}


.list-element {
    margin-top: 20px;
}

.circle {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 2px solid #a3dcd0; 
   color: #a3dcd0;
   text-align: center;
   display: inline-block;
}


.symbol {
    font-size: 10px;
}


.text-element {
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
}


.badge {
    display: inline-block;
    height: 28px;
    background-color: #45abea;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 5px;
    color: #ffffff;
}


.small-text {
    font-size: 14px;
}




/* Utilities */

    /* Colori */

        /* - check negativo #eb6b64 */
        /* - banner "editorial" #45abea */
        /* - banner "Q1 Goals" #9c72e4 */
        /* - banner "Recruiting" #63bfa8 */
        /* - banner "Mobile" #f29e33 */
        /* - banner "Website" #d863a1 */
        /* - banner "Sales" #b0c926 */
    

    /* Entities */

        /* - checkmark positivo &check; */
        /* - checkmark negativo &#10005; */


