* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}


h1 {
    display: inline-block;
    
}


main {
    background-color: #f6f8f9;
    height: 700px;
}


.container {
    width: 70%;
    /* height: 550px; */
    background-color: #ffffff;
    /* margin-top: 50px; */
    margin: auto;
}


.main-header {
    height: 55px;
}


.add-button, input {
    height: 30px; 
    margin-top: 10px; 
    border-radius: 5px;
}


.add-button {
    width: 90px;
    color: #ffffff;  
    background-color: #47adf1;
    border: none;
    margin-left: 70px;
}


input {
    width: 120px;
    border: 1px solid #c1c1c1;
    text-align: center;
}


hr {
    background-color: #f6f8f9;
}

/* Utilities */

    /* Colori */

        /* - button main-header #47adf1 */
        /* - check positivo #a3dcd0 */
        /* - check negativo #eb6b64 */
        /* - banner "editorial" #45abea */
        /* - banner "Q1 Goals" #9c72e4 */
        /* - banner "Recruiting" #63bfa8 */
        /* - banner "Mobile" #f29e33 */
        /* - banner "Website" #d863a1 */
        /* - banner "Sales" #b0c926 */
    

    /* Entities */

        /* - freccia in giù &#9660; */
        /* - checkmark positivo &check; */
        /* - checkmark negativo &#10005; */


